* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    /* background-color: red; */

}

body {
    /* background: rgb(44,62,80);
    background: linear-gradient(0deg, rgba(44,62,80,1) 0%, rgba(60,91,248,1) 100%); */
    color: #0f141e;
    /* font-size: 16px; */
    font-weight: normal;
    margin: 0;
    padding: 0;
    /* background-color: #1C2843; */
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1239%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M166.66 -43.07L230.74 -6.07L230.74 67.93L166.66 104.93L102.57 67.93L102.57 -6.07zM166.66 178.93L230.74 215.93L230.74 289.93L166.66 326.93L102.57 289.93L102.57 215.93zM230.74 289.93L294.83 326.93L294.83 400.93L230.74 437.93L166.66 400.93L166.66 326.93zM166.66 400.93L230.74 437.93L230.74 511.93L166.66 548.93L102.57 511.93L102.57 437.93zM294.83 178.93L358.92 215.93L358.92 289.93L294.83 326.93L230.74 289.93L230.74 215.93zM358.92 511.93L423.01 548.93L423.01 622.93L358.92 659.93L294.83 622.93L294.83 548.93zM423.01 -43.07L487.09 -6.07L487.09 67.93L423.01 104.93L358.92 67.93L358.92 -6.07zM423.01 178.93L487.09 215.93L487.09 289.93L423.01 326.93L358.92 289.93L358.92 215.93zM487.09 511.93L551.18 548.93L551.18 622.93L487.09 659.93L423.01 622.93L423.01 548.93zM551.18 -43.07L615.27 -6.07L615.27 67.93L551.18 104.93L487.09 67.93L487.09 -6.07zM615.27 289.93L679.36 326.93L679.36 400.93L615.27 437.93L551.18 400.93L551.18 326.93zM615.27 511.93L679.36 548.93L679.36 622.93L615.27 659.93L551.18 622.93L551.18 548.93zM679.36 -43.07L743.44 -6.07L743.44 67.93L679.36 104.93L615.27 67.93L615.27 -6.07zM743.44 67.93L807.53 104.93L807.53 178.93L743.44 215.93L679.36 178.93L679.36 104.93zM743.44 289.93L807.53 326.93L807.53 400.93L743.44 437.93L679.36 400.93L679.36 326.93zM679.36 400.93L743.44 437.93L743.44 511.93L679.36 548.93L615.27 511.93L615.27 437.93zM743.44 511.93L807.53 548.93L807.53 622.93L743.44 659.93L679.36 622.93L679.36 548.93zM999.8 289.93L1063.88 326.93L1063.88 400.93L999.8 437.93L935.71 400.93L935.71 326.93zM935.71 400.93L999.8 437.93L999.8 511.93L935.71 548.93L871.62 511.93L871.62 437.93zM999.8 511.93L1063.88 548.93L1063.88 622.93L999.8 659.93L935.71 622.93L935.71 548.93zM1127.97 67.93L1192.06 104.93L1192.06 178.93L1127.97 215.93L1063.88 178.93L1063.88 104.93zM1127.97 511.93L1192.06 548.93L1192.06 622.93L1127.97 659.93L1063.88 622.93L1063.88 548.93zM1192.06 -43.07L1256.15 -6.07L1256.15 67.93L1192.06 104.93L1127.97 67.93L1127.97 -6.07zM1256.15 289.93L1320.23 326.93L1320.23 400.93L1256.15 437.93L1192.06 400.93L1192.06 326.93zM1192.06 400.93L1256.15 437.93L1256.15 511.93L1192.06 548.93L1127.97 511.93L1127.97 437.93zM1384.32 67.93L1448.41 104.93L1448.41 178.93L1384.32 215.93L1320.23 178.93L1320.23 104.93zM1320.23 400.93L1384.32 437.93L1384.32 511.93L1320.23 548.93L1256.15 511.93L1256.15 437.93zM1448.41 -43.07L1512.5 -6.07L1512.5 67.93L1448.41 104.93L1384.32 67.93L1384.32 -6.07zM1448.41 178.93L1512.5 215.93L1512.5 289.93L1448.41 326.93L1384.32 289.93L1384.32 215.93zM1512.5 289.93L1576.58 326.93L1576.58 400.93L1512.5 437.93L1448.41 400.93L1448.41 326.93z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M159.26 -43.07 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM223.34 -6.07 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM223.34 67.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM159.26 104.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM95.17 67.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM95.17 -6.07 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM159.26 178.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM223.34 215.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM223.34 289.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM159.26 326.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM95.17 289.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM95.17 215.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM287.43 326.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM287.43 400.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM223.34 437.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM159.26 400.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM223.34 511.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM159.26 548.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM95.17 511.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM95.17 437.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM287.43 178.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM351.52 215.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM351.52 289.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM351.52 511.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM415.61 548.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM415.61 622.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM351.52 659.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM287.43 622.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM287.43 548.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM415.61 -43.07 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM479.69 -6.07 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM479.69 67.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM415.61 104.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM351.52 67.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM351.52 -6.07 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM415.61 178.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM479.69 215.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM479.69 289.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM415.61 326.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM479.69 511.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM543.78 548.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM543.78 622.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM479.69 659.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM543.78 -43.07 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM607.87 -6.07 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM607.87 67.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM543.78 104.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM607.87 289.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM671.96 326.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM671.96 400.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM607.87 437.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM543.78 400.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM543.78 326.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM607.87 511.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM671.96 548.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM671.96 622.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM607.87 659.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM671.96 -43.07 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM736.04 -6.07 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM736.04 67.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM671.96 104.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM800.13 104.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM800.13 178.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM736.04 215.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM671.96 178.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM736.04 289.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM800.13 326.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM800.13 400.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM736.04 437.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM736.04 511.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM800.13 548.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM800.13 622.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM736.04 659.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM992.4 289.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1056.48 326.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1056.48 400.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM992.4 437.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM928.31 400.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM928.31 326.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM992.4 511.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM928.31 548.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM864.22 511.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM864.22 437.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1056.48 548.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1056.48 622.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM992.4 659.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM928.31 622.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1120.57 67.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1184.66 104.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1184.66 178.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1120.57 215.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1056.48 178.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1056.48 104.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1120.57 511.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1184.66 548.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1184.66 622.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1120.57 659.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1184.66 -43.07 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1248.75 -6.07 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1248.75 67.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1120.57 -6.07 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1248.75 289.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1312.83 326.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1312.83 400.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1248.75 437.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1184.66 400.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1184.66 326.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1248.75 511.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1120.57 437.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1376.92 67.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1441.01 104.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1441.01 178.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1376.92 215.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1312.83 178.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1312.83 104.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1376.92 437.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1376.92 511.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1312.83 548.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1441.01 -43.07 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1505.1 -6.07 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1505.1 67.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1376.92 -6.07 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1505.1 215.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1505.1 289.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1441.01 326.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1376.92 289.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1569.18 326.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1569.18 400.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1505.1 437.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0zM1441.01 400.93 a7.4 7.4 0 1 0 14.8 0 a7.4 7.4 0 1 0 -14.8 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M40.4 -58.68L95.83 -26.68L95.83 37.32L40.4 69.32L-15.03 37.32L-15.03 -26.68zM95.83 37.32L151.25 69.32L151.25 133.32L95.83 165.32L40.4 133.32L40.4 69.32zM95.83 229.32L151.25 261.32L151.25 325.32L95.83 357.32L40.4 325.32L40.4 261.32zM151.25 -58.68L206.68 -26.68L206.68 37.32L151.25 69.32L95.83 37.32L95.83 -26.68zM151.25 133.32L206.68 165.32L206.68 229.32L151.25 261.32L95.83 229.32L95.83 165.32zM317.54 37.32L372.96 69.32L372.96 133.32L317.54 165.32L262.11 133.32L262.11 69.32zM262.11 325.32L317.54 357.32L317.54 421.32L262.11 453.32L206.68 421.32L206.68 357.32zM262.11 517.32L317.54 549.32L317.54 613.32L262.11 645.32L206.68 613.32L206.68 549.32zM372.96 -58.68L428.39 -26.68L428.39 37.32L372.96 69.32L317.54 37.32L317.54 -26.68zM372.96 133.32L428.39 165.32L428.39 229.32L372.96 261.32L317.54 229.32L317.54 165.32zM372.96 325.32L428.39 357.32L428.39 421.32L372.96 453.32L317.54 421.32L317.54 357.32zM428.39 421.32L483.82 453.32L483.82 517.32L428.39 549.32L372.96 517.32L372.96 453.32zM483.82 133.32L539.24 165.32L539.24 229.32L483.82 261.32L428.39 229.32L428.39 165.32zM539.24 229.32L594.67 261.32L594.67 325.32L539.24 357.32L483.82 325.32L483.82 261.32zM650.1 37.32L705.53 69.32L705.53 133.32L650.1 165.32L594.67 133.32L594.67 69.32zM650.1 421.32L705.53 453.32L705.53 517.32L650.1 549.32L594.67 517.32L594.67 453.32zM594.67 517.32L650.1 549.32L650.1 613.32L594.67 645.32L539.24 613.32L539.24 549.32zM760.95 37.32L816.38 69.32L816.38 133.32L760.95 165.32L705.53 133.32L705.53 69.32zM760.95 421.32L816.38 453.32L816.38 517.32L760.95 549.32L705.53 517.32L705.53 453.32zM705.53 517.32L760.95 549.32L760.95 613.32L705.53 645.32L650.1 613.32L650.1 549.32zM816.38 325.32L871.81 357.32L871.81 421.32L816.38 453.32L760.95 421.32L760.95 357.32zM816.38 517.32L871.81 549.32L871.81 613.32L816.38 645.32L760.95 613.32L760.95 549.32zM927.24 -58.68L982.66 -26.68L982.66 37.32L927.24 69.32L871.81 37.32L871.81 -26.68zM982.66 37.32L1038.09 69.32L1038.09 133.32L982.66 165.32L927.24 133.32L927.24 69.32zM982.66 421.32L1038.09 453.32L1038.09 517.32L982.66 549.32L927.24 517.32L927.24 453.32zM927.24 517.32L982.66 549.32L982.66 613.32L927.24 645.32L871.81 613.32L871.81 549.32zM1038.09 325.32L1093.52 357.32L1093.52 421.32L1038.09 453.32L982.66 421.32L982.66 357.32zM1204.37 37.32L1259.8 69.32L1259.8 133.32L1204.37 165.32L1148.94 133.32L1148.94 69.32zM1148.94 133.32L1204.37 165.32L1204.37 229.32L1148.94 261.32L1093.52 229.32L1093.52 165.32zM1204.37 421.32L1259.8 453.32L1259.8 517.32L1204.37 549.32L1148.94 517.32L1148.94 453.32zM1148.94 517.32L1204.37 549.32L1204.37 613.32L1148.94 645.32L1093.52 613.32L1093.52 549.32zM1259.8 -58.68L1315.23 -26.68L1315.23 37.32L1259.8 69.32L1204.37 37.32L1204.37 -26.68zM1259.8 133.32L1315.23 165.32L1315.23 229.32L1259.8 261.32L1204.37 229.32L1204.37 165.32zM1259.8 325.32L1315.23 357.32L1315.23 421.32L1259.8 453.32L1204.37 421.32L1204.37 357.32zM1315.23 421.32L1370.65 453.32L1370.65 517.32L1315.23 549.32L1259.8 517.32L1259.8 453.32zM1259.8 517.32L1315.23 549.32L1315.23 613.32L1259.8 645.32L1204.37 613.32L1204.37 549.32zM1370.65 133.32L1426.08 165.32L1426.08 229.32L1370.65 261.32L1315.23 229.32L1315.23 165.32zM1426.08 421.32L1481.51 453.32L1481.51 517.32L1426.08 549.32L1370.65 517.32L1370.65 453.32zM1370.65 517.32L1426.08 549.32L1426.08 613.32L1370.65 645.32L1315.23 613.32L1315.23 549.32z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1239'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    /* font: normal 16px 'Roboto', sans-serif; */

    /* font-family: 'Times New Roman', Times, serif; */

    /* font-family: Arial, Helvetica, sans-serif; */

    /* font-family: 'Courier New', Courier, monospace; */

    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    background-size: cover; 
    background-attachment: fixed;
    /* background-color: rgba(0, 0, 0, 0.4); */
    background-color: rgba(0, 0, 0, 0.4);


}
ul {
    list-style: none;
  }
  ul {
    list-style: none;
  }

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.navbar {
    /* background-color: #2c3E50 !important; */
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px; */
    color: #ffffff;
    border-top: solid #0071BB 4px;
    transition: ease 1s;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #1C2843;

    

}

.navbar a {
    transition: ease 1s;
    color: #ffffff;
    margin-right: 10px;
    font-size: 16px;


}

.navbar a:hover {
    color: #42B983;
}
.navbar a:active  {
    color: rgb(249, 12, 63);
}


.Myservices h2 {
    text-align: center;

}

.Myservices {
    padding: 0 80px;

}

.Myservices .container {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 80px; */
    justify-content: center;

}

.Myservices .card {
    /* border: solid 2px; */
    text-align: center;
    width: 16em;
    box-shadow: 3px 3px 6px 6px #ccc;
    margin-right: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.Myservices .card h3 {
    color: crimson;
}

.Myservices .card p {
    font-size: 14px;
}

.Myservices .card>div {
    color: #2c3E50;
    font-size: 30px;
}

/* ///// portfolio//// */

.MyPortfolio {
    background-color: #2c3E50;
    text-align: center;
    padding: 0 80px;


}

.MyPortfolio h2 {
    color: #fff;
    border-bottom: solid crimson;
    display: inline-block;
    margin-bottom: 30px;

}

.MyPortfolio .container {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 80px; */
    justify-content: center;

}

.MyPortfolio .card {
    background-color: #fff;
    margin-right: 20px;
    border: solid;
    border-radius: 20px;
    /* padding: 10px; */
    padding-bottom: 10px;
    width: 16em;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: center;
    min-height: 250px;

}



.MyPortfolio .card-des {
    margin: 0px 10px;
}

.MyPortfolio .card-des p {
    font-size: 12px;
    line-height: 1.32;
    font-weight: 700;
}

.MyPortfolio .card button {
    padding: 5px 10px;
    background-color: #1abc9c;
    border-radius: 10px;
    border: none;
    color: #fff;
    /* display: flex; */
    align-self: flex-end;
    transition: ease 1s;

}

.MyPortfolio .card button:hover {
    background-color: #2c3E50;
    transform: scale(1.1);

}

.MyPortfolio img {
    object-fit: cover;
    width: 100%;
    height: 12em;
}

/* //// expertise */
.Myexpertise {
    padding: 50px 150px;
    display: flex;
    align-items: center;
    /* padding: 0 80px; */

}

.Myexpertise .img-exp {
    width: 40%;
    /* border: solid; */
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0 0 0 / 40%);
    margin-right: 30px;
    flex-wrap: wrap;

}

.img-exp-rtl {
    margin-left: 30px;
}

.Myexpertise .img-exp img {
    width: 75%;
}

.Myexpertise .exp-des {
    width: 60%;
    text-align: center;
}

.Myexpertise .exp-des h1 {
    color: crimson
}

.Myexpertise .exp-des p {
    font-size: 12px;
    line-height: 20px;
}

/* //About  */

.About {
    /* display: flex; */
    min-height: 80vh;
    /* background-image: url('../../../public/images/home-img.jpg'); */
    background-size: cover;
    text-align: center;
    background-position: fixed;
    background-color: rgba(0, 0, 0, 0.4);

    background-blend-mode: overlay;
    background-attachment: fixed;
    padding: 0 80px;

}

.About h1 {
    color: #fff;
    border-bottom: solid crimson;
    display: inline-block;
    margin-bottom: 30px;

}

.About>div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    margin-top: 50px;
}

.About .about-img img {
    border-radius: 50%;
    border: solid #fff;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 16em;
    height: 16em;
    object-fit: cover;


}

.contact {
    padding: 100px;
    background: rgb(17, 118, 237);
    background: linear-gradient(360deg, rgba(17, 118, 237, 1) 0%, rgba(39, 106, 153, 1) 57%, rgba(51, 99, 155, 1) 100%);
    text-align: center;
}

.contact h1 {
    color: #fff;
    border-bottom: solid #fff;
    display: inline-block;
    margin-bottom: 30px;


}

.contact .input-form {
    width: 100%;
    margin-bottom: 20px;

    position: relative;
    margin-right: 10px;
}

.contact .contact-form {
    display: flex;

}

.contact .input-form input, textarea {
    padding: 0px 5px;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: solid #1abc9c;
    font-size: 16px;
}

.contact .input-form label {
    font-size: 12px;
    position: absolute;
    left: 5px;
    top: 40%;
    transform: translateY(-50%);
    transition: ease 1s;
    pointer-events: none;


}

.contact .input-form input:focus+label, .contact .input-form input:valid+label {
    top: -10px;
    transition: ease 1s;
    color: white;
}

.contact .input-form textarea:focus+label, .contact .input-form textarea:valid+label {
    top: -25%;
    color: #fff;
}

/* ////maps//// */
.maps {
    padding: 100px;

}

.maps>div {
    box-shadow: 0px 10px 35px 0px lightblue;
    padding: 10px;
}

.maps iframe {
    width: 100%;
}

.send-btn {
    color: #fff;
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    transition: ease 1s;

}

.send-btn:hover {
    background-color: #2c3E50;
    color: #fff;
    transition: ease 1s;
    cursor: pointer;


}

/* //// */
footer {
    text-align: center;
    background-color: #2c3E50;
    color: #fff;
    padding: 20px
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: crimson;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1abc9c;
}

.up {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1abc9c;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;
}

.wow {
    /* visibility: hidden; */
}
